
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class='text-center'>Admin Log in</h2>
            <form action="/admin/login" method="POST">
                {{#if loginErr}}
                    <p class="error">{{loginErr}}</p>
                {{/if}}
                <div class="form-group">
                    <label>Login name</label>
                    <input type="text" class="form-control" name="admin" placeholder="Enter login">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>         
                <button type="submit" class="btn btn-primary float-right">Log in</button>
            </form>
        </div>
    </div>
</div>
