<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/admin">Admin Panel</a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin">All Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/view-orders">All Orders</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="/admin/view-users">All Users</a>
                    </li>
                </ul>
                    <div class="ml-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{#if admin}}
                                    {{admin.name}}
                                {{else}}
                                    Account
                                {{/if}}

                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                {{#if admin}}
                                    <a class="dropdown-item" href="/admin/view-profile">Profile</a>
                                    <a class="dropdown-item" href="/admin/logout">Log out</a>
                                {{else}}
                                    <a class="dropdown-item" href="/admin/login">Log in</a>
                                {{/if}}

                            </div>

                        </div>

                    </div>
                
            </div>
        </div>
    </nav>
</header>

