
    <div class="row">
        <div class="col text-center p-5">
            <div class="container"></div>
            <h2>Congratulations, your order has been placed</h2>
            <div class='pt-5'>
            <a href='/view-orders' class='btn btn-primary'>View orders</a>
            </div>
        </div>
    </div>
</div>
